# Yahoo finance data download

# Configuration

Yahoo documentation: https://ranaroussi.github.io/yfinance/index.html
Repo: https://github.com/jrdi/yfinance

In [6]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.50-py2.py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\jkwia\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\jkwia\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\jkwia\appdata\roaming\python\python311\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\jkwia\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\jkwia\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\jkwia\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.8.tar.gz (948 kB)
     ---------------------------------------- 0.0/948.2 kB ? eta -:--:--
     ---- --------------------------------- 102.4/948.2 kB 2.9 MB/s eta 0:00:01
     --------- ---------------------------- 225.3/948.2 kB 2.8 MB/s eta 0:00:01
     ------------------ ------------------- 450.6/948.2 kB 3.1 MB/s eta 0:00:01
     ----------------------- -------------- 593.9/948.2 kB 3.4 MB/s eta 0:00:01
     -------------------------------- ----- 798.7/948.2 kB 3.6 MB/s eta 0:00:01
     -------------------------------------- 948.2/948.2 kB 3.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\jkwia\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\jkwia\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\jkwia\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\jkwia\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jkwia\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jkwia\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jkwia\appdata\roaming\python\python311\site-packages (from requests>=2.31->yfinance) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jkwia\appdata\roaming\python\python311\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jkwia\appdata\roaming\python\python311\site-packages (from requests>=2.31->yfinance) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jkwia\appdata\roaming\python\python311\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Downloading yfinance-0.2.50-py2.py3-none-any.whl (102 kB)
   ---------------------------------------- 0.0/102.2 kB ? eta -:--:--
   ---------------------------------------- 102.2/102.2 kB 5.8 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py311-none-any.whl (16 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB 3.2 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.8-py3-none-any.whl size=139012 sha256=1ef78ca2dce464858bba57b602e59a350e7d39608c664dab42a1b1c01a57e0f2
  Stored in directory: c:\users\jkwia\appdata\local\pip\cache\wheels\ff\6c\15\506e25bc390de450a7fa53c155cd9b0fbd13ad3e84a9abc183
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.6 html5lib-1.1 multitasking-0.0.11 peewee-3.17.8 yfinance-0.2.50

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
TICKERS = ["AAPL", "PLUG", "ETH-USD","USDT-USD","SOL-USD","BTC-USD", "TSLA", "NVDA", "F", "AMZN"]
START_DATE="2023-01-01"
END_DATE="2024-10-26"
PERIOD = "1d"

# Data loading

In [28]:
data_list = {}
for ticker in TICKERS:
    try:
        data = yf.download(ticker, start=START_DATE, end=END_DATE, interval=PERIOD)
        data['ticker'] = ticker
        data_list[ticker] = data
    except Exception as e:
        print(f"Failed to download data for {ticker}: {e}")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
data_list.keys()

dict_keys(['AAPL', 'PLUG', 'ETH-USD', 'USDT-USD', 'SOL-USD', 'BTC-USD', 'TSLA', 'NVDA', 'F', 'AMZN'])

# Data show

In [31]:
data_list['SOL-USD'].columns

MultiIndex([('Adj Close', 'SOL-USD'),
            (    'Close', 'SOL-USD'),
            (     'High', 'SOL-USD'),
            (      'Low', 'SOL-USD'),
            (     'Open', 'SOL-USD'),
            (   'Volume', 'SOL-USD'),
            (   'ticker',        '')],
           names=['Price', 'Ticker'])

In [29]:
for ticker, df in data_list.items():
    print(f"**********{ticker}**********")
    display(df)

**********AAPL**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,
Date,,,,,,,
2023-01-03,123.768463,125.070000,130.899994,124.169998,130.279999,112117500,AAPL
2023-01-04,125.045036,126.360001,128.660004,125.080002,126.889999,89113600,AAPL
2023-01-05,123.718979,125.019997,127.769997,124.760002,127.129997,80962700,AAPL
2023-01-06,128.271103,129.619995,130.289993,124.889999,126.010002,87754700,AAPL
2023-01-09,128.795593,130.149994,133.410004,129.889999,130.470001,70790800,AAPL
...,...,...,...,...,...,...,...
2024-10-21,236.220108,236.479996,236.850006,234.449997,234.449997,36254500,AAPL
2024-10-22,235.600800,235.860001,236.220001,232.600006,233.889999,38846600,AAPL
2024-10-23,230.506393,230.759995,235.139999,227.759995,234.080002,52287000,AAPL
2024-10-24,230.316620,230.570007,230.820007,228.410004,229.979996,31109500,AAPL
2024-10-25,231.155685,231.410004,233.220001,229.570007,229.740005,38802300,AAPL

**********PLUG**********

Price      Adj Close  Close   High    Low   Open    Volume ticker
Ticker          PLUG   PLUG   PLUG   PLUG   PLUG      PLUG
Date
2023-01-03     12.18  12.18  12.97  11.91  12.71  29326000   PLUG
2023-01-04     13.00  13.00  13.03  12.08  12.54  13353500   PLUG
2023-01-05     12.66  12.66  12.77  12.38  12.67  11640400   PLUG
2023-01-06     13.41  13.41  13.42  12.28  12.62  14575100   PLUG
2023-01-09     14.22  14.22  14.53  13.66  13.87  18610500   PLUG
...              ...    ...    ...    ...    ...       ...    ...
2024-10-21      2.37   2.37   2.37   2.20   2.22  52631500   PLUG
2024-10-22      2.22   2.22   2.42   2.21   2.35  45597400   PLUG
2024-10-23      2.08   2.08   2.19   2.05   2.18  48050800   PLUG
2024-10-24      2.13   2.13   2.18   2.06   2.10  35856800   PLUG
2024-10-25      2.15   2.15   2.27   2.12   2.14  44541400   PLUG

[457 rows x 7 columns]

**********ETH-USD**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,ETH-USD,ETH-USD,ETH-USD,ETH-USD,ETH-USD,ETH-USD,
Date,,,,,,,
2023-01-01,1200.964844,1200.964844,1203.475342,1192.885376,1196.713623,2399674550,ETH-USD
2023-01-02,1214.656616,1214.656616,1219.860596,1195.214966,1201.103271,3765758498,ETH-USD
2023-01-03,1214.778809,1214.778809,1219.095337,1207.491577,1214.744019,3392972131,ETH-USD
2023-01-04,1256.526611,1256.526611,1264.807495,1213.168823,1214.718628,6404416893,ETH-USD
2023-01-05,1250.438599,1250.438599,1258.571533,1245.173096,1256.484619,4001786456,ETH-USD
...,...,...,...,...,...,...,...
2024-10-21,2665.712158,2665.712158,2765.549561,2655.294434,2746.305664,17328615363,ETH-USD
2024-10-22,2620.197510,2620.197510,2669.790039,2605.618652,2665.656738,15541911074,ETH-USD
2024-10-23,2509.098877,2509.098877,2624.450439,2457.169922,2620.088623,17876984551,ETH-USD
2024-10-24,2534.498535,2534.498535,2559.151367,2506.722900,2523.606934,16128627601,ETH-USD
2024-10-25,2435.934082,2435.934082,2563.734131,2381.450684,2534.454834,22560233078,ETH-USD

**********USDT-USD**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,USDT-USD,USDT-USD,USDT-USD,USDT-USD,USDT-USD,USDT-USD,
Date,,,,,,,
2023-01-01,0.999692,0.999692,0.999761,0.999567,0.999680,11344984018,USDT-USD
2023-01-02,0.999771,0.999771,0.999844,0.999621,0.999688,16348780894,USDT-USD
2023-01-03,0.999759,0.999759,0.999896,0.999722,0.999783,18233713873,USDT-USD
2023-01-04,0.999763,0.999763,0.999869,0.999721,0.999751,24715975399,USDT-USD
2023-01-05,0.999697,0.999697,0.999905,0.999694,0.999754,19334292777,USDT-USD
...,...,...,...,...,...,...,...
2024-10-21,0.999833,0.999833,1.000498,0.999042,0.999691,66839777317,USDT-USD
2024-10-22,0.999388,0.999388,1.000534,0.998958,0.999734,58886789137,USDT-USD
2024-10-23,0.999194,0.999194,1.000183,0.998366,0.999351,60689585382,USDT-USD
2024-10-24,0.999507,0.999507,0.999964,0.998534,0.999010,57614263583,USDT-USD
2024-10-25,0.998163,0.998163,1.000179,0.996926,0.999531,78091841017,USDT-USD

**********SOL-USD**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,SOL-USD,SOL-USD,SOL-USD,SOL-USD,SOL-USD,SOL-USD,
Date,,,,,,,
2023-01-01,9.982173,9.982173,10.052801,9.721011,9.961036,194221164,SOL-USD
2023-01-02,11.272967,11.272967,11.372013,9.845211,9.983222,558570124,SOL-USD
2023-01-03,13.344046,13.344046,13.500268,11.053267,11.274727,1149255381,SOL-USD
2023-01-04,13.435113,13.435113,14.095340,12.922946,13.351509,1142852070,SOL-USD
2023-01-05,13.419330,13.419330,13.769200,12.990192,13.434939,564255825,SOL-USD
...,...,...,...,...,...,...,...
2024-10-21,166.216873,166.216873,171.430664,161.810501,166.938614,3924173188,SOL-USD
2024-10-22,167.260147,167.260147,170.760086,163.285370,166.217606,3470792372,SOL-USD
2024-10-23,170.932495,170.932495,173.815018,164.193817,167.260635,3861697575,SOL-USD
2024-10-24,177.156937,177.156937,178.995300,170.517380,171.110870,3529481044,SOL-USD
2024-10-25,164.756897,164.756897,177.191940,160.035278,177.157135,4869966180,SOL-USD

**********BTC-USD**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD,
Date,,,,,,,
2023-01-01,16625.080078,16625.080078,16630.439453,16521.234375,16547.914062,9244361700,BTC-USD
2023-01-02,16688.470703,16688.470703,16759.343750,16572.228516,16625.509766,12097775227,BTC-USD
2023-01-03,16679.857422,16679.857422,16760.447266,16622.371094,16688.847656,13903079207,BTC-USD
2023-01-04,16863.238281,16863.238281,16964.585938,16667.763672,16680.205078,18421743322,BTC-USD
2023-01-05,16836.736328,16836.736328,16884.021484,16790.283203,16863.472656,13692758566,BTC-USD
...,...,...,...,...,...,...,...
2024-10-21,67367.851562,67367.851562,69462.734375,66829.851562,69002.000000,37498611780,BTC-USD
2024-10-22,67361.406250,67361.406250,67801.578125,66581.367188,67360.703125,31808472566,BTC-USD
2024-10-23,66432.195312,66432.195312,67402.742188,65188.035156,67362.375000,32263980353,BTC-USD
2024-10-24,68161.054688,68161.054688,68798.960938,66454.101562,66653.703125,31414428647,BTC-USD
2024-10-25,66642.414062,66642.414062,68722.156250,65521.792969,68165.296875,41469984306,BTC-USD

**********TSLA**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA,
Date,,,,,,,
2023-01-03,108.099998,108.099998,118.800003,104.639999,118.470001,231402800,TSLA
2023-01-04,113.639999,113.639999,114.589996,107.519997,109.110001,180389000,TSLA
2023-01-05,110.339996,110.339996,111.750000,107.160004,110.510002,157986300,TSLA
2023-01-06,113.059998,113.059998,114.389999,101.809998,103.000000,220911100,TSLA
2023-01-09,119.769997,119.769997,123.519997,117.110001,118.959999,190284000,TSLA
...,...,...,...,...,...,...,...
2024-10-21,218.850006,218.850006,220.479996,215.729996,218.899994,47329000,TSLA
2024-10-22,217.970001,217.970001,218.220001,215.259995,217.309998,43268700,TSLA
2024-10-23,213.649994,213.649994,218.720001,212.110001,217.130005,80938900,TSLA
2024-10-24,260.480011,260.480011,262.119995,242.649994,244.679993,204491900,TSLA
2024-10-25,269.190002,269.190002,269.489990,255.320007,256.010010,161611900,TSLA

**********NVDA**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA,
Date,,,,,,,
2023-01-03,14.305580,14.315000,14.996000,14.096000,14.851000,401277000,NVDA
2023-01-04,14.739294,14.749000,14.853000,14.241000,14.567000,431324000,NVDA
2023-01-05,14.255616,14.265000,14.564000,14.148000,14.491000,389168000,NVDA
2023-01-06,14.849223,14.859000,15.010000,14.034000,14.474000,405044000,NVDA
2023-01-09,15.617717,15.628000,16.056000,15.141000,15.284000,504231000,NVDA
...,...,...,...,...,...,...,...
2024-10-21,143.710007,143.710007,143.710007,138.000000,138.130005,264554500,NVDA
2024-10-22,143.589996,143.589996,144.419998,141.779999,142.910004,226311600,NVDA
2024-10-23,139.559998,139.559998,142.429993,137.460007,142.029999,285930000,NVDA
2024-10-24,140.410004,140.410004,141.350006,138.460007,140.820007,172354900,NVDA
2024-10-25,141.539993,141.539993,144.130005,140.800003,140.929993,205122100,NVDA

**********F**********

Price       Adj Close  Close   High    Low   Open    Volume ticker
Ticker              F      F      F      F      F         F
Date
2023-01-03   9.878720  11.68  11.92  11.57  11.82  45809000      F
2023-01-04  10.157829  12.01  12.08  11.74  11.88  53429700      F
2023-01-05  10.360815  12.25  12.38  11.88  12.11  50785600      F
2023-01-06  10.639925  12.58  12.59  12.10  12.12  53089100      F
2023-01-09  10.732960  12.69  12.93  12.55  12.74  50865500      F
...               ...    ...    ...    ...    ...       ...    ...
2024-10-21  10.734156  10.88  11.16  10.86  11.08  41008600      F
2024-10-22  10.961072  11.11  11.15  10.92  10.92  51597600      F
2024-10-23  10.911743  11.06  11.24  11.02  11.11  37335400      F
2024-10-24  11.089330  11.24  11.25  11.07  11.24  44736400      F
2024-10-25  10.921608  11.07  11.33  11.02  11.28  39120700      F

[457 rows x 7 columns]

**********AMZN**********

Price,Adj Close,Close,High,Low,Open,Volume,ticker
Ticker,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,
Date,,,,,,,
2023-01-03,85.820000,85.820000,86.959999,84.209999,85.459999,76706000,AMZN
2023-01-04,85.139999,85.139999,86.980003,83.360001,86.550003,68885100,AMZN
2023-01-05,83.120003,83.120003,85.419998,83.070000,85.330002,67930800,AMZN
2023-01-06,86.080002,86.080002,86.400002,81.430000,83.029999,83303400,AMZN
2023-01-09,87.360001,87.360001,89.480003,87.080002,87.459999,65266100,AMZN
...,...,...,...,...,...,...,...
2024-10-21,189.070007,189.070007,189.460007,186.399994,188.050003,24639400,AMZN
2024-10-22,189.699997,189.699997,191.520004,186.979996,188.350006,29650600,AMZN
2024-10-23,184.710007,184.710007,189.160004,183.690002,188.850006,31937100,AMZN
2024-10-24,186.380005,186.380005,187.110001,183.860001,185.250000,21647400,AMZN
2024-10-25,187.830002,187.830002,190.449997,187.529999,187.850006,29362100,AMZN

# Data save

In [30]:
# Save the data to a xlsx file
output_file = f"data/finance/historical_data_{START_DATE}-{END_DATE}-{PERIOD}.xlsx"
with pd.ExcelWriter(output_file) as writer:
    for ticker, df in data_list.items():
        df.to_excel(writer, sheet_name=ticker)

# Test

From: https://github.com/jrdi/yfinance

In [10]:
msft = yf.Ticker("MSFT")
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 228000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2024,
   'totalPay': 4755618,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 50,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2024,
   'totalPay': 4534974,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'totalPay': 2993772,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Carolina  Dybeck Happe',
   'age': 51,
   'title': 'Executive VP & COO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 57,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1966,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Takeshi  Numoto',
   'age': 52,
   'title': 'Executive VP & Chief Marketing Officer',
   'yearBorn': 1971,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 4,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1730419200,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 417.0,
 'open': 418.19,
 'dayLow': 414.865,
 'dayHigh': 421.06,
 'regularMarketPreviousClose': 417.0,
 'regularMarketOpen': 418.19,
 'regularMarketDayLow': 414.865,
 'regularMarketDayHigh': 421.06,
 'dividendRate': 3.32,
 'dividendYield': 0.008,
 'exDividendDate': 1732147200,
 'payoutRatio': 0.2477,
 'fiveYearAvgDividendYield': 0.88,
 'beta': 0.904,
 'trailingPE': 34.63937,
 'forwardPE': 27.819813,
 'volume': 25842761,
 'regularMarketVolume': 25842761,
 'averageVolume': 19642234,
 'averageVolume10days': 23155070,
 'averageDailyVolume10Day': 23155070,
 'bid': 418.49,
 'ask': 419.15,
 'bidSize': 200,
 'askSize': 200,
 'marketCap': 3113653370880,
 'fiftyTwoWeekLow': 362.9,
 'fiftyTwoWeekHigh': 468.35,
 'priceToSalesTrailing12Months': 12.249315,
 'fiftyDayAverage': 421.9104,
 'twoHundredDayAverage': 421.8257,
 'trailingAnnualDividendRate': 3.08,
 'trailingAnnualDividendYield': 0.007386091,
 'currency': 'USD',
 'enterpriseValue': 3118754168832,
 'profitMargins': 0.35608003,
 'floatShares': 7424694989,
 'sharesOutstanding': 7434880000,
 'sharesShort': 62516096,
 'sharesShortPriorMonth': 59527028,
 'sharesShortPreviousMonthDate': 1727654400,
 'dateShortInterest': 1730332800,
 'sharesPercentSharesOut': 0.0084,
 'heldPercentInsiders': 0.00056,
 'heldPercentInstitutions': 0.73554003,
 'shortRatio': 3.28,
 'shortPercentOfFloat': 0.0084,
 'impliedSharesOutstanding': 7647889920,
 'bookValue': 38.693,
 'priceToBook': 10.823404,
 'lastFiscalYearEnd': 1719705600,
 'nextFiscalYearEnd': 1751241600,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': 0.107,
 'netIncomeToCommon': 90511998976,
 'trailingEps': 12.09,
 'forwardEps': 14.95,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 12.269,
 'enterpriseToEbitda': 22.839,
 '52WeekChange': 0.10139716,
 'SandP52WeekChange': 0.31181884,
 'lastDividendValue': 0.83,
 'lastDividendDate': 1732147200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 418.79,
 'targetHighPrice': 600.0,
 'targetLowPrice': 420.0,
 'targetMeanPrice': 504.76813,
 'targetMedianPrice': 500.0,
 'recommendationMean': 1.41818,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 48,
 'totalCash': 78429003776,
 'totalCashPerShare': 10.549,
 'ebitda': 136551997440,
 'totalDebt': 96838000640,
 'quickRatio': 1.163,
 'currentRatio': 1.301,
 'totalRevenue': 254189993984,
 'debtToEquity': 33.657,
 'revenuePerShare': 34.202,
 'returnOnAssets': 0.14592,
 'returnOnEquity': 0.35604,
 'freeCashflow': 61280874496,
 'operatingCashflow': 122144997376,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.16,
 'grossMargins': 0.69348997,
 'ebitdaMargins': 0.53720003,
 'operatingMargins': 0.46583998,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2047}

In [11]:
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0
2024-05-15 00:00:00-04:00       0.75           0.0
2024-08-15 00:00:00-04:00       0.75           0.0
2024-11-21 00:00:00-05:00       0.83           0.0

[93 rows x 2 columns]

In [12]:
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2023-11-15 00:00:00-05:00    0.75
2024-02-14 00:00:00-05:00    0.75
2024-05-15 00:00:00-04:00    0.75
2024-08-15 00:00:00-04:00    0.75
2024-11-21 00:00:00-05:00    0.83
Name: Dividends, Length: 84, dtype: float64

In [13]:
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [15]:
msft.financials

,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Tax Effect Of Unusual Items,-99918000.0,-2850000.0,43754000.0,180160797.164637
Tax Rate For Calcs,0.182,0.19,0.131,0.138266
Normalized EBITDA,133558000000.0,105155000000.0,99905000000.0,83831000000.0
Total Unusual Items,-549000000.0,-15000000.0,334000000.0,1303000000.0
Total Unusual Items Excluding Goodwill,-549000000.0,-15000000.0,334000000.0,1303000000.0
Net Income From Continuing Operation Net Minority Interest,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Reconciled Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0
Reconciled Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
EBITDA,133009000000.0,105140000000.0,100239000000.0,85134000000.0
EBIT,110722000000.0,91279000000.0,85779000000.0,73448000000.0
Net Interest Income,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Normalized Income,88585082000.0,72373150000.0,72447754000.0,60148160797.164635
Net Income From Continuing And Discontinued Operation,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Total Expenses,135689000000.0,123392000000.0,114887000000.0,98172000000.0
Total Operating Income As Reported,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Diluted Average Shares,7469000000.0,7472000000.0,7540000000.0,7608000000.0
Basic Average Shares,7431000000.0,7446000000.0,7496000000.0,7547000000.0
Diluted EPS,11.8,9.68,9.65,8.05
Basic EPS,11.86,9.72,9.7,8.12
Diluted NI Availto Com Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Common Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Including Noncontrolling Interests,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Continuous Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Tax Provision,19651000000.0,16950000000.0,10978000000.0,9831000000.0
Pretax Income,107787000000.0,89311000000.0,83716000000.0,71102000000.0
Other Income Expense,-1868000000.0,-238000000.0,302000000.0,1401000000.0
Other Non Operating Income Expenses,-1319000000.0,-223000000.0,-32000000.0,98000000.0
Special Income Charges,-206000000.0,-30000000.0,-101000000.0,-13000000.0
Write Off,206000000.0,30000000.0,101000000.0,13000000.0
Gain On Sale Of Security,-343000000.0,15000000.0,435000000.0,1316000000.0
Net Non Operating Interest Income Expense,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense Non Operating,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income Non Operating,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Operating Income,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Operating Expense,61575000000.0,57529000000.0,52237000000.0,45940000000.0
Research And Development,29510000000.0,27195000000.0,24512000000.0,20716000000.0
Selling General And Administration,32065000000.0,30334000000.0,27725000000.0,25224000000.0
Selling And Marketing Expense,24456000000.0,22759000000.0,21825000000.0,20117000000.0
General And Administrative Expense,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Other Gand A,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Gross Profit,171008000000.0,146052000000.0,135620000000.0,115856000000.0
Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
Total Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0
Operating Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0

In [16]:
msft.quarterly_financials

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Tax Effect Of Unusual Items,57190000.0,-16263853.211009,-33660000.0,-29160000.0,-20700000.0
Tax Rate For Calcs,0.19,0.191339,0.18,0.18,0.18
Normalized EBITDA,37933000000.0,34416000000.0,33741000000.0,33556000000.0,31845000000.0
Total Unusual Items,301000000.0,-85000000.0,-187000000.0,-162000000.0,-115000000.0
Total Unusual Items Excluding Goodwill,301000000.0,-85000000.0,-187000000.0,-162000000.0,-115000000.0
Net Income From Continuing Operation Net Minority Interest,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Reconciled Depreciation,7383000000.0,6380000000.0,6027000000.0,5959000000.0,3921000000.0
Reconciled Cost Of Revenue,20099000000.0,19684000000.0,18505000000.0,19623000000.0,16302000000.0
EBITDA,38234000000.0,34331000000.0,33554000000.0,33394000000.0,31730000000.0
EBIT,30851000000.0,27951000000.0,27527000000.0,27435000000.0,27809000000.0
Net Interest Income,99000000.0,-63000000.0,-181000000.0,-175000000.0,641000000.0
Interest Expense,582000000.0,701000000.0,800000000.0,909000000.0,525000000.0
Interest Income,681000000.0,638000000.0,619000000.0,734000000.0,1166000000.0
Normalized Income,24423190000.0,22104736146.78899,22092340000.0,22002840000.0,22385300000.0
Net Income From Continuing And Discontinued Operation,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Total Expenses,35033000000.0,36802000000.0,34277000000.0,34988000000.0,29622000000.0
Total Operating Income As Reported,30552000000.0,27925000000.0,27581000000.0,27032000000.0,26895000000.0
Diluted Average Shares,7470000000.0,7472000000.0,7472000000.0,7468000000.0,7462000000.0
Basic Average Shares,7433000000.0,7433000000.0,7431000000.0,7432000000.0,7429000000.0
Diluted EPS,3.3,2.95,2.94,2.93,2.99
Basic EPS,3.32,2.96,2.95,2.94,3.0
Diluted NI Availto Com Stockholders,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Net Income Common Stockholders,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Net Income,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Net Income Including Noncontrolling Interests,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Net Income Continuous Operations,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0
Tax Provision,5602000000.0,5214000000.0,4788000000.0,4656000000.0,4993000000.0
Pretax Income,30269000000.0,27250000000.0,26727000000.0,26526000000.0,27284000000.0
Other Income Expense,-382000000.0,-612000000.0,-673000000.0,-331000000.0,-252000000.0
Other Non Operating Income Expenses,-683000000.0,-527000000.0,-486000000.0,-169000000.0,-137000000.0
Special Income Charges,-7000000.0,-22000000.0,-17000000.0,-161000000.0,-6000000.0
Write Off,7000000.0,22000000.0,17000000.0,161000000.0,6000000.0
Gain On Sale Of Security,308000000.0,-63000000.0,-170000000.0,-1000000.0,-109000000.0
Net Non Operating Interest Income Expense,99000000.0,-63000000.0,-181000000.0,-175000000.0,641000000.0
Interest Expense Non Operating,582000000.0,701000000.0,800000000.0,909000000.0,525000000.0
Interest Income Non Operating,681000000.0,638000000.0,619000000.0,734000000.0,1166000000.0
Operating Income,30552000000.0,27925000000.0,27581000000.0,27032000000.0,26895000000.0
Operating Expense,14934000000.0,17118000000.0,15772000000.0,15365000000.0,13320000000.0
Research And Development,7544000000.0,8056000000.0,7653000000.0,7142000000.0,6659000000.0
Selling General And Administration,7390000000.0,9062000000.0,8119000000.0,8223000000.0,6661000000.0
Selling And Marketing Expense,5717000000.0,6816000000.0,6207000000.0,6246000000.0,5187000000.0
General And Administrative Expense,1673000000.0,2246000000.0,1912000000.0,1977000000.0,1474000000.0
Other Gand A,1673000000.0,2246000000.0,1912000000.0,1977000000.0,1474000000.0
Gross Profit,45486000000.0,45043000000.0,43353000000.0,42397000000.0,40215000000.0
Cost Of Revenue,20099000000.0,19684000000.0,18505000000.0,19623000000.0,16302000000.0
Total Revenue,65585000000.0,64727000000.0,61858000000.0,62020000000.0,56517000000.0
Operating Revenue,65585000000.0,64727000000.0,61858000000.0,62020000000.0,56517000000.0

In [17]:
msft.institutional_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0879,653247546,222456919314
1,2023-06-30,Blackrock Inc.,0.0722,536245027,182612881494
2,2023-06-30,State Street Corporation,0.0395,293614078,99987338122
3,2023-06-30,"FMR, LLC",0.0283,210111250,71551285075
4,2023-06-30,Price (T.Rowe) Associates Inc,0.0215,159904219,54453782738
5,2023-06-30,"Geode Capital Management, LLC",0.0199,148129470,50444009713
6,2023-06-30,Morgan Stanley,0.0166,123498322,42056118573
7,2023-06-30,JP Morgan Chase & Company,0.0152,113024837,38489477991
8,2022-12-31,Norges Bank Investment Management,0.0116,86316926,20700525193
9,2023-06-30,Capital World Investors,0.0115,85507261,29118642660

In [27]:
msft.balance_sheet

,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Ordinary Shares Number,7434000000.0,7432000000.0,7464000000.0,7519000000.0
Share Issued,7434000000.0,7432000000.0,7464000000.0,7519000000.0
Net Debt,33315000000.0,12533000000.0,35850000000.0,43922000000.0
Total Debt,67127000000.0,59965000000.0,61270000000.0,67775000000.0
Tangible Book Value,121660000000.0,128971000000.0,87720000000.0,84477000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,75531000000.0,111256000000.0,104749000000.0,130256000000.0
Other Short Term Investments,57216000000.0,76552000000.0,90818000000.0,116032000000.0
Cash And Cash Equivalents,18315000000.0,34704000000.0,13931000000.0,14224000000.0
Cash Equivalents,6744000000.0,26226000000.0,5673000000.0,6952000000.0
Cash Financial,11571000000.0,8478000000.0,8258000000.0,7272000000.0

In [18]:
msft.cashflow

,2024-06-30,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Free Cash Flow,74071000000.0,59475000000.0,65149000000.0,56118000000.0,NaN
Repurchase Of Capital Stock,-17254000000.0,-22245000000.0,-32696000000.0,-27385000000.0,NaN
Repayment Of Debt,-29070000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Issuance Of Debt,29645000000.0,0.0,0.0,NaN,0.0
Issuance Of Capital Stock,2002000000.0,1866000000.0,1841000000.0,1693000000.0,NaN
Capital Expenditure,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
End Cash Position,18315000000.0,34704000000.0,13931000000.0,14224000000.0,NaN
Beginning Cash Position,34704000000.0,13931000000.0,14224000000.0,13576000000.0,NaN
Effect Of Exchange Rate Changes,-210000000.0,-194000000.0,-141000000.0,-29000000.0,NaN
Changes In Cash,-16179000000.0,20967000000.0,-152000000.0,677000000.0,NaN
Financing Cash Flow,-37757000000.0,-43935000000.0,-58876000000.0,-48486000000.0,NaN
Cash Flow From Continuing Financing Activities,-37757000000.0,-43935000000.0,-58876000000.0,-48486000000.0,NaN
Net Other Financing Charges,-1309000000.0,-1006000000.0,-863000000.0,-2523000000.0,NaN
Cash Dividends Paid,-21771000000.0,-19800000000.0,-18135000000.0,-16521000000.0,NaN
Common Stock Dividend Paid,-21771000000.0,-19800000000.0,-18135000000.0,-16521000000.0,NaN
Net Common Stock Issuance,-15252000000.0,-20379000000.0,-30855000000.0,-25692000000.0,NaN
Common Stock Payments,-17254000000.0,-22245000000.0,-32696000000.0,-27385000000.0,NaN
Common Stock Issuance,2002000000.0,1866000000.0,1841000000.0,1693000000.0,NaN
Net Issuance Payments Of Debt,575000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Net Short Term Debt Issuance,5250000000.0,0.0,0.0,NaN,0.0
Short Term Debt Issuance,5250000000.0,0.0,0.0,NaN,NaN
Net Long Term Debt Issuance,-4675000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Long Term Debt Payments,-29070000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Long Term Debt Issuance,24395000000.0,0.0,0.0,NaN,0.0
Investing Cash Flow,-96970000000.0,-22680000000.0,-30311000000.0,-27577000000.0,NaN
Cash Flow From Continuing Investing Activities,-96970000000.0,-22680000000.0,-30311000000.0,-27577000000.0,NaN
Net Other Investing Changes,-1298000000.0,-3116000000.0,-2825000000.0,-922000000.0,NaN
Net Investment Purchase And Sale,17937000000.0,10213000000.0,18438000000.0,2876000000.0,NaN
Sale Of Investment,35669000000.0,47864000000.0,44894000000.0,65800000000.0,NaN
Purchase Of Investment,-17732000000.0,-37651000000.0,-26456000000.0,-62924000000.0,NaN
Net Business Purchase And Sale,-69132000000.0,-1670000000.0,-22038000000.0,-8909000000.0,NaN
Purchase Of Business,-69132000000.0,-1670000000.0,-22038000000.0,-8909000000.0,NaN
Net PPE Purchase And Sale,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
Purchase Of PPE,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
Operating Cash Flow,118548000000.0,87582000000.0,89035000000.0,76740000000.0,NaN
Cash Flow From Continuing Operating Activities,118548000000.0,87582000000.0,89035000000.0,76740000000.0,NaN
Change In Working Capital,1824000000.0,-2388000000.0,446000000.0,-936000000.0,NaN
Change In Other Working Capital,5348000000.0,5535000000.0,5805000000.0,2324000000.0,NaN
Change In Other Current Liabilities,5616000000.0,2825000000.0,3169000000.0,5551000000.0,NaN
Change In Other Current Assets,-8465000000.0,-4824000000.0,-3514000000.0,-4391000000.0,NaN
Change In Payables And Accrued Expense,5232000000.0,-3079000000.0,2943000000.0,2798000000.0,NaN
Change In Payable,5232000000.0,-3079000000.0,2943000000.0,2798000000.0,NaN
Change In Account Payable,3545000000.0,-2721000000.0,2943000000.0,2798000000.0,NaN
Change In Tax Payable,1687000000.0,-358000000.0,NaN,NaN,NaN
Change In Income Tax Payable,1687000000.0,-358000000.0,NaN,NaN,NaN
Change In Inventory,1284000000.0,1242000000.0,-1123000000.0,-737000000.0,NaN
Change In Receivables,-7191000000.0,-4087000000.0,-6834000000.0,-6481000000.0,NaN
Changes In Account Receivables,-7191000000.0,-4087000000.0,-6834000000.0,-6481000000.0,NaN
Stock Based Compensation,10734000000.0,9611000000.0,7502000000.0,6118000000.0,NaN
Deferred Tax,-4738000000.0,-6059000000.0,-5702000000.0,-150000000.0,NaN
Deferred Income Tax,-4738000000.0,-6059000000.0,-5702000000.0,-150000000.0,NaN
Depreciation Amortization Depletion,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Depreciation And Amortization,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Operating Gains Losses,305000000.0,196000000.0,-409000000.0,-1249000000.0,NaN
Gain Loss On Investment Securities,NaN,NaN,NaN,NaN,-219000000.0
Net Income From Continuing Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0,NaN

In [26]:
msft.quarterly_cashflow

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30
Free Cash Flow,19257000000.0,23322000000.0,20965000000.0,9118000000.0,20666000000.0
Repurchase Of Capital Stock,-4107000000.0,-4210000000.0,-4213000000.0,-4000000000.0,-4831000000.0
Repayment Of Debt,-966000000.0,-13065000000.0,-11589000000.0,-2916000000.0,-1500000000.0
Issuance Of Debt,0.0,5447000000.0,6352000000.0,10773000000.0,7073000000.0
Issuance Of Capital Stock,706000000.0,534000000.0,522000000.0,261000000.0,685000000.0
Capital Expenditure,-14923000000.0,-13873000000.0,-10952000000.0,-9735000000.0,-9917000000.0
End Cash Position,20840000000.0,18315000000.0,19634000000.0,17305000000.0,80452000000.0
Beginning Cash Position,18315000000.0,19634000000.0,17305000000.0,80452000000.0,34704000000.0
Effect Of Exchange Rate Changes,122000000.0,-103000000.0,-80000000.0,72000000.0,-99000000.0
Changes In Cash,2403000000.0,-1216000000.0,2409000000.0,-63219000000.0,45847000000.0
Financing Cash Flow,-16576000000.0,-23563000000.0,-18808000000.0,-10147000000.0,14761000000.0
Cash Flow From Continuing Financing Activities,-16576000000.0,-23563000000.0,-18808000000.0,-10147000000.0,14761000000.0
Net Other Financing Charges,-889000000.0,-303000000.0,-498000000.0,-201000000.0,-307000000.0
Cash Dividends Paid,-5574000000.0,-5574000000.0,-5572000000.0,-5574000000.0,-5051000000.0
Common Stock Dividend Paid,-5574000000.0,-5574000000.0,-5572000000.0,-5574000000.0,-5051000000.0
Net Common Stock Issuance,-3401000000.0,-3676000000.0,-3691000000.0,-3739000000.0,-4146000000.0
Common Stock Payments,-4107000000.0,-4210000000.0,-4213000000.0,-4000000000.0,-4831000000.0
Common Stock Issuance,706000000.0,534000000.0,522000000.0,261000000.0,685000000.0
Net Issuance Payments Of Debt,-6712000000.0,-14010000000.0,-9047000000.0,-633000000.0,24265000000.0
Net Short Term Debt Issuance,-5746000000.0,-1142000000.0,-3810000000.0,-8490000000.0,18692000000.0
Short Term Debt Issuance,NaN,NaN,NaN,NaN,18692000000.0
Net Long Term Debt Issuance,-966000000.0,-12868000000.0,-5237000000.0,7857000000.0,5573000000.0
Long Term Debt Payments,-966000000.0,-13065000000.0,-11589000000.0,-2916000000.0,-1500000000.0
Long Term Debt Issuance,0.0,197000000.0,6352000000.0,10773000000.0,7073000000.0
Investing Cash Flow,-15201000000.0,-14848000000.0,-10700000000.0,-71925000000.0,503000000.0
Cash Flow From Continuing Investing Activities,-15201000000.0,-14848000000.0,-10700000000.0,-71925000000.0,503000000.0
Net Other Investing Changes,-913000000.0,-382000000.0,-1281000000.0,1347000000.0,-982000000.0
Net Investment Purchase And Sale,2484000000.0,749000000.0,3108000000.0,1492000000.0,12588000000.0
Sale Of Investment,4104000000.0,3580000000.0,5291000000.0,5750000000.0,21048000000.0
Purchase Of Investment,-1620000000.0,-2831000000.0,-2183000000.0,-4258000000.0,-8460000000.0
Net Business Purchase And Sale,-1849000000.0,-1342000000.0,-1575000000.0,-65029000000.0,-1186000000.0
Purchase Of Business,-1849000000.0,-1342000000.0,-1575000000.0,-65029000000.0,-1186000000.0
Net PPE Purchase And Sale,-14923000000.0,-13873000000.0,-10952000000.0,-9735000000.0,-9917000000.0
Purchase Of PPE,-14923000000.0,-13873000000.0,-10952000000.0,-9735000000.0,-9917000000.0
Operating Cash Flow,34180000000.0,37195000000.0,31917000000.0,18853000000.0,30583000000.0
Cash Flow From Continuing Operating Activities,34180000000.0,37195000000.0,31917000000.0,18853000000.0,30583000000.0
Change In Working Capital,856000000.0,7184000000.0,2522000000.0,-10300000000.0,2418000000.0
Change In Other Working Capital,-4537000000.0,13164000000.0,1977000000.0,-7092000000.0,-2701000000.0
Change In Other Current Liabilities,-5512000000.0,5088000000.0,2851000000.0,1492000000.0,-3815000000.0
Change In Other Current Assets,-1843000000.0,-3768000000.0,-1186000000.0,-702000000.0,-2809000000.0
Change In Payables And Accrued Expense,-916000000.0,5891000000.0,648000000.0,-2521000000.0,1214000000.0
Change In Payable,-916000000.0,5891000000.0,648000000.0,-2521000000.0,1214000000.0
Change In Account Payable,-916000000.0,4204000000.0,648000000.0,-2521000000.0,1214000000.0
Change In Inventory,-373000000.0,55000000.0,260000000.0,1474000000.0,-505000000.0
Change In Receivables,14037000000.0,-13246000000.0,-2028000000.0,-2951000000.0,11034000000.0
Changes In Account Receivables,14037000000.0,-13246000000.0,-2028000000.0,-2951000000.0,11034000000.0
Stock Based Compensation,2832000000.0,2696000000.0,2703000000.0,2828000000.0,2507000000.0
Deferred Tax,-1433000000.0,-1145000000.0,-1323000000.0,-1702000000.0,-568000000.0
Deferred Income Tax,-1433000000.0,-1145000000.0,-1323000000.0,-1702000000.0,-568000000.0
Depreciation Amortization Depletion,7383000000.0,6380000000.0,6027000000.0,5959000000.0,3921000000.0
Depreciation And Amortization,7383000000.0,6380000000.0,6027000000.0,5959000000.0,3921000000.0
Depreciation,7383000000.0,6380000000.0,6027000000.0,5959000000.0,3921000000.0
Operating Gains Losses,-125000000.0,44000000.0,49000000.0,198000000.0,14000000.0
Net Income From Continuing Operations,24667000000.0,22036000000.0,21939000000.0,21870000000.0,22291000000.0

In [25]:
# show earnings
# msft.earnings
msft.income_stmt

,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Tax Effect Of Unusual Items,-99918000.0,-2850000.0,43754000.0,180160797.164637
Tax Rate For Calcs,0.182,0.19,0.131,0.138266
Normalized EBITDA,133558000000.0,105155000000.0,99905000000.0,83831000000.0
Total Unusual Items,-549000000.0,-15000000.0,334000000.0,1303000000.0
Total Unusual Items Excluding Goodwill,-549000000.0,-15000000.0,334000000.0,1303000000.0
Net Income From Continuing Operation Net Minority Interest,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Reconciled Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0
Reconciled Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
EBITDA,133009000000.0,105140000000.0,100239000000.0,85134000000.0
EBIT,110722000000.0,91279000000.0,85779000000.0,73448000000.0
Net Interest Income,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Normalized Income,88585082000.0,72373150000.0,72447754000.0,60148160797.164635
Net Income From Continuing And Discontinued Operation,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Total Expenses,135689000000.0,123392000000.0,114887000000.0,98172000000.0
Total Operating Income As Reported,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Diluted Average Shares,7469000000.0,7472000000.0,7540000000.0,7608000000.0
Basic Average Shares,7431000000.0,7446000000.0,7496000000.0,7547000000.0
Diluted EPS,11.8,9.68,9.65,8.05
Basic EPS,11.86,9.72,9.7,8.12
Diluted NI Availto Com Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Common Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Including Noncontrolling Interests,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Continuous Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Tax Provision,19651000000.0,16950000000.0,10978000000.0,9831000000.0
Pretax Income,107787000000.0,89311000000.0,83716000000.0,71102000000.0
Other Income Expense,-1868000000.0,-238000000.0,302000000.0,1401000000.0
Other Non Operating Income Expenses,-1319000000.0,-223000000.0,-32000000.0,98000000.0
Special Income Charges,-206000000.0,-30000000.0,-101000000.0,-13000000.0
Write Off,206000000.0,30000000.0,101000000.0,13000000.0
Gain On Sale Of Security,-343000000.0,15000000.0,435000000.0,1316000000.0
Net Non Operating Interest Income Expense,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense Non Operating,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income Non Operating,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Operating Income,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Operating Expense,61575000000.0,57529000000.0,52237000000.0,45940000000.0
Research And Development,29510000000.0,27195000000.0,24512000000.0,20716000000.0
Selling General And Administration,32065000000.0,30334000000.0,27725000000.0,25224000000.0
Selling And Marketing Expense,24456000000.0,22759000000.0,21825000000.0,20117000000.0
General And Administrative Expense,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Other Gand A,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Gross Profit,171008000000.0,146052000000.0,135620000000.0,115856000000.0
Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
Total Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0
Operating Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0

In [23]:
# show next event (earnings, etc)
msft.calendar

{'Dividend Date': datetime.date(2024, 12, 12),
 'Ex-Dividend Date': datetime.date(2024, 11, 21),
 'Earnings Date': [datetime.date(2025, 1, 28), datetime.date(2025, 2, 3)],
 'Earnings High': 3.47,
 'Earnings Low': 3.08,
 'Earnings Average': 3.15862,
 'Revenue High': 70520000000,
 'Revenue Low': 68488700000,
 'Revenue Average': 68912341850}

In [22]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [21]:
# show options expirations
msft.options

('2024-11-29',
 '2024-12-06',
 '2024-12-13',
 '2024-12-20',
 '2024-12-27',
 '2025-01-03',
 '2025-01-17',
 '2025-02-21',
 '2025-03-21',
 '2025-04-17',
 '2025-05-16',
 '2025-06-20',
 '2025-07-18',
 '2025-08-15',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18',
 '2027-01-15')